.table-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-table1 {
    width: 100%;
    border-collapse: collapse;
}
.custom-table1 th {
    border: 1px solid #ddd;
    padding: 6px;
}

.custom-table1 td {
    /* border: 1px solid #ddd; */
    padding: 4px;
}
.custom-table1 th {
    background-color: #f4f4f4;
}
.custom-table1 img {
    max-width: 200px; /* Resim boyutunu sınırlandırmak için */
    border-radius: 4px;
}
.custom-table1 tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}
.custom-table1 tbody tr:hover {
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #aeaeae;
}

.olusturbutton{
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    background-color: rgb(42, 42, 91);
    padding: 5px;
    border-radius: 10px;
}