

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .submit-button {
    background-color: #f5618d; /* Change to your desired color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #45a049; /* Change to a different color for hover effect */
  }
  