.anket-container {
  display: flex;
  flex-direction: row; /* Öğeleri yan yana hizalar */
  flex-wrap: wrap; /* Öğeler taşarsa sarma işlemi yapar */
  gap: 20px;
  padding: 20px;
  align-items: flex-start; /* Üstten hizalama */
  margin-left: 150px; /* Soldan hizalama */
  /* margin-top: 100px; */
}
.anket-container2 {
  display: flex;
  flex-direction: row; /* Öğeleri yan yana hizalar */
  flex-wrap: wrap; /* Öğeler taşarsa sarma işlemi yapar */
  gap: 20px;
  padding: 20px;
  align-items: flex-start; /* Üstten hizalama */
  margin-left: 150px; /* Soldan hizalama */
  margin-top: 100px;
}
.survey-image {
  width: 80%;
  height: auto;
}

.survey-box {
  width:200px; /* Sabit genişlik */
  height:auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: rgba(249, 249, 249, 0.8); /* Hafif transparan arka plan */
  background-size: 50px 50px; /* İkon boyutunu ayarlayın */
  background-position: center; /* İkonu kutu içinde ortalayın */
  background-repeat: no-repeat; /* İkon tekrarını engelleyin */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* İçerikleri ortalar */
  cursor: pointer; /* Üzerine gelindiğinde işaretçi değişir */
}

.survey-title {
  font-size: 14px; /* Font boyutunu ayarlayın */
  font-weight: bold;
  margin-bottom: 10px; /* Başlık ve açıklama arasında boşluk */
  text-align: center; /* Başlığı ortalar */
}

.dialog-survey-image {
  width: 20%;
  height: auto;
  margin-bottom: 10px;
}



body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/images/belediye.jpg');
  background-size: cover; /* Tüm ekranı kaplar */
  background-position: center; /* Resmi ortalar */
  background-repeat: no-repeat; /* Resmin tekrarını engeller */
  background-attachment: fixed; /* Kaydırma sırasında arka planı sabit tutar */
  height: 100vh; /* Tüm görüntüleme alanı yüksekliğini kaplar */
  width: 100vw; /* Tüm görüntüleme alanı genişliğini kaplar */
  overflow-x: hidden; /* Yatay kaydırmayı engeller */
}
.dialog-button-close {
  border: 3px solid #ffffff !important; /* Red border */
  background-color: #be0000 !important; /* Red text color */
  color: #ffffff !important;
}

.dialog-button-solve {
  border: 3px solid #ffffff !important; /* Green border */
  background-color: #006803 !important; /* Green text color */
  color: #ffffff !important;
}

.dialog-button-close:hover {
  background-color: #bb6d6d !important; /* Red background on hover */
  color: rgb(255, 255, 255); /* White text on hover */
}

.dialog-button-solve:hover {
  background-color: #78d07d !important; /* Green background on hover */
  color: rgb(64, 214, 30); /* White text on hover */
}
