/* src/components/InternalNumbers.css */

.internal-numbers-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../assets/images/belediye.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .internal-numbers-container {
    margin-top: 90px;
    margin-left: 120px;
    background-color: #f1efef;
    display: flex;
    height: calc(100% - 90px); /* Adjust based on your header height */
  }
  
  .internal-numbers-content {
    flex: 1;
    margin-left: 100px; /* Adjust this based on sidebar width */
    padding: 20px;
    overflow-y: auto;
  }
  
  .search-bar-container {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  .jjjjj{
    margin-right: 20px ;
    margin-left: 10px;

  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  
  .search-bar {
    
    width: 100%;
    padding: 10px 10px 10px 35px; /* Padding left for icon space */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .internal-numbers-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .internal-numbers-table th, .internal-numbers-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  /* Add this to your InternalNumbers.css */
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .pagination li {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination li a {
    color: #000;
    padding: 8px 12px;
    border-radius: 50%;
    text-decoration: none;
    border: 1px solid #ddd;
    display: block;
  }
  
  .pagination li a:hover {
    background-color: #eee;
  }
  
  .pagination .active a {
    background-color: #ddd;
    border: 1px solid #ddd;
    color: #000;
  }
  
  .pagination .disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination .break-me {
    cursor: default;
  }
  
  
  