/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.background {
  /*background-image: url('./assets/images/belediye.jpg'); /* Arka plan resminizin yolu */
  background: linear-gradient(45deg, #b5e1fa 40%, #527bc1);
  background-size: cover;
  background-position: center;
  height: 100vh; /* Tam ekran yüksekliği */
  display: flex;
  flex-direction: column;
  /* Diğer stil ayarları */
}
