@tailwind base;
@tailwind components;
@tailwind utilities;

body {
@apply text-gray-800 bg-gray-50 dark:bg-gray-900;
}
/* scroll bar'ı gizlemek için */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}
